In [92]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [93]:
schools = pd.read_csv('C:/Users/jbachlombardo/Documents/Community Colleges/Data/College scorecard/CollegeScorecard_Raw_Data/merged_all_scorecard_indicators_longitudinal_zips_RESET FROM HERE 42919_adjacents.csv')

In [94]:
schools_list = list(schools['UNITID'])

In [95]:
six_dig_degs = pd.read_csv('C:/Users/jbachlombardo/Documents/Community Colleges/Data/IPEDS/c2017_a.csv')

In [96]:
ccs_sixdig = six_dig_degs[(six_dig_degs['UNITID'].isin(schools_list)) & (six_dig_degs['AWLEVEL'] < 4)]

In [97]:
ccs_sixdig['CIPCODE'] = ccs_sixdig['CIPCODE'].apply(lambda x: int(str(x).replace('.', '')))

C:\Users\jbachlombardo\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [107]:
ccs_sixdig_streamlined = ccs_sixdig.groupby(['UNITID', 'CIPCODE'], as_index = False)['CTOTALT'].sum()

In [108]:
ccs_sixdig_streamlined

       UNITID  CIPCODE  CTOTALT
0      100760      990      350
1      100760   110101        3
2      100760   120401        2
3      100760   150613       17
4      100760   151301        5
5      100760   190708        7
6      100760   240101        0
7      100760   240102      132
8      100760   309999       17
9      100760   470105        8
10     100760   470201        0
11     100760   480503       26
12     100760   480508       12
13     100760   480599       10
14     100760   513801       20
15     100760   513901       39
16     100760   520201       27
17     100760   520401       25
18     101028      990      253
19     101028   110101        5
20     101028   150613       13
21     101028   190708        6
22     101028   240101       13
23     101028   240102       87
24     101028   430107       11
25     101028   430202       16
26     101028   439999        0
27     101028   500401        4
28     101028   500902        0
29     101028   510801       19
...       ...      ...      ...
50168  489201      990      512
50169  489201    90101       28
50170  489201   110103        4
50171  489201   110701       11
50172  489201   110801        0
50173  489201   110901        1
50174  489201   131015        1
50175  489201   140102        1
50176  489201   190709       30
50177  489201   230101       12
50178  489201   240101       39
50179  489201   240103        2
50180  489201   260101       76
50181  489201   270101       28
50182  489201   300101        7
50183  489201   310501        1
50184  489201   310505       29
50185  489201   380101        6
50186  489201   400801        8
50187  489201   420101       71
50188  489201   430107       24
50189  489201   450101        9
50190  489201   450601        4
50191  489201   451001        6
50192  489201   451101        1
50193  489201   500701       25
50194  489201   520101        1
50195  489201   520201       69
50196  489201   520703        1
50197  489201   540101       17

[50198 rows x 3 columns]

In [28]:
ccs_sixdig_streamlined.to_csv('C:/Users/jbachlombardo/Documents/Community Colleges/Data/IPEDS/six_deg_ccs.csv')

In [33]:
six_dig_naics = pd.read_csv('C:/Users/jbachlombardo/Documents/Community Colleges/Data/CIP NAICS Crosswalk_FOUR DIGITS.csv')

In [36]:
six_dig_naics.groupby(['CIP Code-6', 'NAICS Code']).size()

CIP Code-6  NAICS Code
10102.0     6112          1
10103.0     6113          1
10104.0     1133          1
            1151          1
            6113          1
10105.0     1151          1
            1152          1
            2211          1
            2382          1
            31-33         1
            3111          1
            3112          1
            3113          1
            3114          1
            3115          1
            3116          1
            3117          1
            3118          1
            3119          1
            3251          1
            3345          1
            4234          1
            4237          1
            4238          1
            4241          1
            4242          1
            4244          1
            4245          1
            4248          1
            4249          1
                         ..
999999.0    7113          1
            7114          1
            7115          1
            7121          1
            7131          1
            7132          1
            7139          1
            7211          1
            7212          1
            7213          1
            7221          1
            7222          1
            7223          1
            7224          1
            8111          1
            8112          1
            8113          1
            8114          1
            8121          1
            8122          1
            8123          1
            8129          1
            8131          1
            8132          1
            8133          1
            8134          1
            8139          1
            9991          1
            9992          1
            9993          1
Length: 22556, dtype: int64

In [109]:
ccs_sixdig_streamlined = ccs_sixdig_streamlined[ccs_sixdig_streamlined['CIPCODE'] != 990]

In [110]:
pivoted_sixdegs = pd.pivot_table(data = ccs_sixdig_streamlined[ccs_sixdig_streamlined['CTOTALT'] != 0], columns = 'CIPCODE', index = 'UNITID', values = 'CTOTALT')

In [111]:
pivoted_sixdegs = pivoted_sixdegs.rename_axis(None, axis = 1)

In [112]:
totals = pivoted_sixdegs.sum(axis = 1)

In [113]:
for c in pivoted_sixdegs.columns :
    newcol = str(c) + '_%'
    pivoted_sixdegs[newcol] = pivoted_sixdegs[c] / totals

In [114]:
pivoted_sixdegs.to_csv('C:/Users/jbachlombardo/Documents/Community Colleges/Data/IPEDS/six_deg_ccs_wpercs_no990 051419.csv')

In [115]:
pivoted_sixdegs.stack().reset_index()

       UNITID   level_1           0
0      100760    110101    3.000000
1      100760    120401    2.000000
2      100760    150613   17.000000
3      100760    151301    5.000000
4      100760    190708    7.000000
5      100760    240102  132.000000
6      100760    309999   17.000000
7      100760    470105    8.000000
8      100760    480503   26.000000
9      100760    480508   12.000000
10     100760    480599   10.000000
11     100760    513801   20.000000
12     100760    513901   39.000000
13     100760    520201   27.000000
14     100760    520401   25.000000
15     100760  110101_%    0.008571
16     100760  120401_%    0.005714
17     100760  150613_%    0.048571
18     100760  151301_%    0.014286
19     100760  190708_%    0.020000
20     100760  240102_%    0.377143
21     100760  309999_%    0.048571
22     100760  470105_%    0.022857
23     100760  480503_%    0.074286
24     100760  480508_%    0.034286
25     100760  480599_%    0.028571
26     100760  513801_%    0.057143
27     100760  513901_%    0.111429
28     100760  520201_%    0.077143
29     100760  520401_%    0.071429
...       ...       ...         ...
79002  489201    520703    1.000000
79003  489201    540101   17.000000
79004  489201   90101_%    0.054688
79005  489201  110103_%    0.007812
79006  489201  110701_%    0.021484
79007  489201  110901_%    0.001953
79008  489201  131015_%    0.001953
79009  489201  140102_%    0.001953
79010  489201  190709_%    0.058594
79011  489201  230101_%    0.023438
79012  489201  240101_%    0.076172
79013  489201  240103_%    0.003906
79014  489201  260101_%    0.148438
79015  489201  270101_%    0.054688
79016  489201  300101_%    0.013672
79017  489201  310501_%    0.001953
79018  489201  310505_%    0.056641
79019  489201  380101_%    0.011719
79020  489201  400801_%    0.015625
79021  489201  420101_%    0.138672
79022  489201  430107_%    0.046875
79023  489201  450101_%    0.017578
79024  489201  450601_%    0.007812
79025  489201  451001_%    0.011719
79026  489201  451101_%    0.001953
79027  489201  500701_%    0.048828
79028  489201  520101_%    0.001953
79029  489201  520201_%    0.134766
79030  489201  520703_%    0.001953
79031  489201  540101_%    0.033203

[79032 rows x 3 columns]

In [89]:
pivoted_sixdegs.loc[100760].dropna()

990         350.000000
110101        3.000000
120401        2.000000
150613       17.000000
151301        5.000000
190708        7.000000
240102      132.000000
309999       17.000000
470105        8.000000
480503       26.000000
480508       12.000000
480599       10.000000
513801       20.000000
513901       39.000000
520201       27.000000
520401       25.000000
990_%         0.500000
110101_%      0.004286
120401_%      0.002857
150613_%      0.024286
151301_%      0.007143
190708_%      0.010000
240102_%      0.188571
309999_%      0.024286
470105_%      0.011429
480503_%      0.037143
480508_%      0.017143
480599_%      0.014286
513801_%      0.028571
513901_%      0.055714
520201_%      0.038571
520401_%      0.035714
Name: 100760, dtype: float64